.photo-card{
  margin: 10px 10px 20px 10px;
  border-radius: 3px;
  box-shadow: 0 0 3px $c-blue;
  background-color: rgba(141,193,169,0.6);
  .photo-box{
    img{
      width: 90%;
      margin: 5%;
    }
  }
  .photo-des{
    margin: 0 5%;
    padding-bottom: 10px;
    min-height: 50px;
  }
}
