.form{
  display: flex;
  flex-direction: column;
  .form-group{
    display: flex;
    margin-bottom:10px;
    padding:0 10px;
    flex-direction: column;
    label{
      font-size: 12px;
      margin-bottom: 5px;
    }
    input{
      height: 30px;
      border-radius: 3px;
      border: 1px solid #ddd;
      padding-left: 3px
    }
  }
}
