$c-orange: #ea7e53;
$c-orange-hover: #d96d42;
$c-orange-active: #c85c31;



$c-green: #8dc1a9;
$c-pink: #e69d87;
$c-blue: #759aa0;
$c-red: #dd6b66;
$c-yellow: #eedd78;
$c-black: #333333;
$c-black-light: #555555;

$c-white: #ffffff;
